.job-list {
  .header {
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: 900;
  },
  .listing {
    margin: 10px auto;

    .company {
      font-weight: 600;
      font-size: 1.1em;
    },
    .status {
      font-weight: 300;
      font-size: 1em;
    }
  }
}

/*thead {
  background: black;
  color: white;
}

tr {
  .td-company, a {
    color: white;
  }
}

.tr-job:hover {
  background: #50597b;
  border-top: 1px solid #1f253d;
}*/

.ul-job, .li-job {
  list-style-type: none;
  list-style-position: inside;
  border: 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 0;
}

.li-job {
  margin-bottom: 10px;  
}

li button {
  float: right;
}

.handle {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
}
.handle:hover {
  color: white;
  background: black;
}

.li-company, .li-position {
  display: inline;
}

button.inline {
  display: inline;
}
