.job-list {
  .header {
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: 900;
  },
  .listing {
    margin: 10px auto;

    .company {
      font-weight: 600;
      font-size: 1.1em;
    },
    .status {
      font-weight: 300;
      font-size: 1em;
    }
  }
}

/*thead {
  background: black;
  color: white;
}

tr {
  .td-company, a {
    color: white;
  }
}

.tr-job:hover {
  background: #50597b;
  border-top: 1px solid #1f253d;
}*/

.li-job {
  list-style: none;
  border: 1px;
  border-radius: 5px;
  margin: 5px;
}

