.job-body {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;  
  margin-bottom: 10px;
}

body {
  background-color: #f6f6f6;
}

.job-details {
  margin-bottom: 20px;
}

.logo {
  width: 100px;
}

h2 {
  color: black;
}

h5 {
  margin-bottom: 0px;
}

.note {
  margin-top: 5px;
}

.timeline {
  border-style: solid;
  border-top: thick solid #f0f0f0;
  border-bottom: transparent;
  border-right: transparent;
  border-left: transparent;
  padding-top: 20px; 
  padding-bottom: 40px;
}

/*.timeline:before {
  content:"";
  width: 3px;
  height: 100%;
  background: grey;
  left: 60px;
  top: 0;
  position: absolute;
}*/

.emojibtn > img {
  width: 40px;
}

.emojibtn {
  background-color: transparent;
  border-color: transparent;
}

.event {
  overflow: hidden;
  min-height: 90px;
}

.clearfix:after {
  overflow: auto;
}

.edit {
  display: none;
  background-color: transparent;
  border-color: transparent;
}

.event:hover > div >.edit {
  display: block;
}

.options {
  padding: 5px 5px;
  width: 40px;
}

.btnoption {
  border: 0 0;
  padding: 0 0;
  margin-top: 50px;
  background-color: transparent;
  border-color: transparent;
}



.event-icon {
  border-style: solid;
  border-color: green;
  border-radius: 50%;
  padding-top: 8px;
  padding-left: 7px;
  width: 60px;
  height: 60px;
  background-color: white;
  /*background-image: url('meeting (3).png');
  background-size: cover;*/
}

.event-icon > img {
  width: 40px;
}

.event > div > h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*.event {
  margin-bottom: 30px;
}*/

.line {
  width: 33px;
  height: 100%;
  margin-top: 60px;
  border-right: thick solid #a0a0a0;
  position: absolute;
}

.timeline:before {
  width: 48px;
  height: 15px;
  border-right: thick solid #a0a0a0;
}


.emoji {
  margin-top: 5px;
  width: 30px;
}

.h5-no-pad {
  margin-top: 0px;
  padding-left: 0px;
}

img.editimg {
  width: 20px;
}

.h5-no-pad > p {
  margin-bottom: 5px;
}

.event-body {
  margin-bottom: 10px;
}

.h5-no-pad > p {
  border-bottom: thin solid #a0a0a0;
}

.rdt {
 position: relative;
}
.rdtPicker {
 display: none;
 position: absolute;
 width: 250px;
 padding: 4px;
 margin-top: 1px;
 z-index: 99999 !important;
 background: #fff;
 box-shadow: 0 1px 3px rgba(0,0,0,.1);
 border: 1px solid #f9f9f9 ;
}
.rdtOpen .rdtPicker {
 display: block;
}
.rdtStatic .rdtPicker {
 box-shadow: none;
 position: static;
}

.rdtPicker .rdtTimeToggle {
 text-align: center;
}

.rdtPicker table {
 width: 100%;
 margin: 0;
}
.rdtPicker td,
.rdtPicker th {
 text-align: center;
 height: 28px;
}
.rdtPicker td.rdtToday:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
 background: #eeeeee ;
 cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
 color: #999999 ;
}
.rdtPicker td.rdtToday {
 position: relative;
}
.rdtPicker td.rdtToday:before {
 content: '';
 display: inline-block;
 border-left: 7px solid transparent;
 border-bottom: 7px solid #428bca ;
 border-top-color: rgba(0, 0, 0, 0.2);
 position: absolute;
 bottom: 4px;
 right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
 background-color: #428bca ;
 color: #fff;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
 border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
 background: none;
 color: #999999 ;
 cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
 color: #999999 ;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
 background: none;
 color: #999999 ;
 cursor: not-allowed;
}
.rdtPicker th {
 border-bottom: 1px solid #f9f9f9 ;
}
.rdtPicker .dow {
 width: 14.2857%;
 border-bottom: none;
}
.rdtPicker th.rdtSwitch {
 width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
 font-size: 21px;
 vertical-align: top;
}
.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
 background: none;
 color: #999999 ;
 cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
 cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
 background: #eeeeee ;
}

.rdtPicker tfoot{
 border-top: 1px solid #f9f9f9 ;
}

.rdtPicker button {
 border: none;
 background: none;
 cursor: pointer;
}
.rdtPicker button:hover {
 background-color: #eee;
}

.rdtPicker thead button {
 width: 100%;
 height: 100%;
}

td.rdtMonth,
td.rdtYear {
 height: 50px;
 width: 25%;
 cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
 background: #eee;
}

.rdtCounters {
 display: inline-block;
}

.rdtCounters > div{
 float: left;
}

.rdtCounter {
 height: 100px;
}

.rdtCounter {
 width: 40px;
}

.rdtCounterSeparator {
 line-height: 100px;
}

.rdtCounter .rdtBtn {
 height: 40%;
   line-height: 40px;
   cursor: pointer;
}
.rdtCounter .rdtBtn:hover {
 background: #eee;
}
.rdtCounter .rdtCount {
 height: 20%;
 font-size: 1.2em;
}

.rdtMilli {
 vertical-align: middle;
 padding-left: 8px;
 width: 48px;
}

.rdtMilli input {
 width: 100%;
 font-size: 1.2em;
 margin-top: 37px;
}



