body {
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
}

#content {
  position: relative;
}

.splash-img {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: -1;
  float: left;
}

.login-btn {
  display: block;
  z-index: 100;
  width: 170px;
  height: 35px;
  background-color: #3468AF;
  color: white;
  margin: 26px auto;
}

.header {
  text-align: center;
  color: #11A8AB;
  font-size: 120px;
  margin-top: 0px;
  padding-top: 37px;
}


.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
      opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
      opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
     opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -17px;
}